* {
  background-color: #cac8c8;
}

.name {
  text-align: center;
  margin-top: 130px;
  font-size: 40px;
  background-color: #cac8c8;
}

.container {
  border: 1px solid black;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  width: 350px;
  height: 400px;
  border-radius: 10px;
  position: absolute;
  place-items: center;
  top: 55%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.button {
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
  font-size: 20px;
}

.operator {
  background-color: burlywood;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
  font-size: 20px;
}

.equal-sign {
  background-color: rgb(8, 154, 239);
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
  font-size: 20px;
}

.clear {
  background-color: rgb(219, 82, 82);
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
  font-size: 20px;
  margin-left: 2px;
}

.input {
  background-color: rgb(172, 168, 168);
  width: 250px;
  height: 50px;
  border-radius: 6px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin: 8px 2px 2px 8px;
  font-size: 30px;
}

.keys {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  grid-gap: 10px;

  padding: 10px;

  margin: auto;
}
