* {
  padding: 0;
  margin: 0;
}

.card {
  background-color: aliceblue;
  border-radius: 1rem 1rem 0rem 0rem;
  justify-content: center;
  align-items: center;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.avatar {
  border-radius: 1rem 1rem 0rem 0rem;
  width: 20rem;
  height: 20rem;
}

.name {
  margin-top: 0.5rem;
  margin-left: 0.25rem;
  font-size: 1.75rem;
}

.job {
  margin-top: 0.5rem;
  margin-left: 0.25rem;
  font-size: 1.2rem;
}
